<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL />
    <DeployIisAppPath />
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Focus_CRM_DB_ConnectionString_ADODB" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=SQLOLEDB.1;server=IIS-THINK;Database=Focus_CRM;Uid=sa;password=B1Admin" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Focus_CRM_DB_ConnectionString_ADODB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=SQLOLEDB.1;server=IIS-THINK;Database=Focus_CRM;Uid=sa;password=B1Admin" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Focus_CRM_DB_ConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=IIS-THINK;Initial Catalog=Focus_CRM;User ID=sa;Password=B1Admin" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Focus_CRM_DB_ConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=IIS-THINK;Database=Focus_CRM;User Id=sa;Password=B1Admin;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SAP_DB_ConnectionString_ADODB" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=SQLOLEDB.1;server=IIS-THINK;Database=FGT_LIVE;Uid=sa;password=B1Admin" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SAP_DB_ConnectionString_ADODB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=SQLOLEDB.1;server=IIS-THINK;Database=FGT_LIVE;Uid=sa;password=B1Admin" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="IntegPortal_ConnectionString" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SAPSERVER4;Initial Catalog=IntegrationPortal;User ID=sa;Password=B1Admin" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\IntegPortal_ConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=SAPSERVER4;Database=IntegrationPortal;User Id=sa;Password=B1Admin;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SAP_DB_ConnectionString" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=IIS-THINK;Initial Catalog=FGT_LIVE;User ID=sa;Password=B1Admin" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SAP_DB_ConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=IIS-THINK;Database=FGT_LIVE;User Id=sa;Password=B1Admin;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
</Project>