<?xml version="1.0"?>
<configuration>

  <location path="WebService.asmx">
    <system.web>
      <authorization>        
          <deny users="?"/>
      </authorization>
    </system.web>
  </location>

    

    <system.web>
    <authorization>
      <deny users="?"/>        
    </authorization>
  </system.web>

</configuration>
